@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

html,
body {
    font-family: "Figtree", sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    display: none;
}

*,
*::after,
*::before {
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.7;
}

@media only screen and (max-width: 1000px) {
    body {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 40px 20px;
        gap: 20px;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    tr {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 8px;
        width: 100%;
        padding: 16px;
        overflow: hidden;
        border: 1px solid #b1b7c5;
        border-radius: 6px;
    }

    thead,
    th {
        display: none;
    }

    td {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        overflow: hidden;
        gap: 6px;
        width: calc(50% - 4px);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
    }

    td img {
        width: 100%;
    }
    
    td::before {
        content: "";
        display: flex;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        border: 0;
        white-space: nowrap;
    }

    .td-actions {
        flex-direction: row;
    }

    .td-total,
    .td-card,
    .td-showcase {
        align-items: center;
        padding-bottom: 6px;
        font-weight: 600;
        border-width: 1px ;
        border-style: solid;
        border-radius: 6px;
    }

    .td-total:before,
    .td-card:before,
    .td-showcase:before {
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 26px;
    }

    .td-card {
        width: calc(25% - 6px);
        color: #01b88e;
        font-size: 12px;
        border-color: #01b88e;
    }
    .td-card:before {
        background: #01b88e;
        color: #fff;
    }

    .td-total {
        color: #292e31;
        border-color: #292e31;
    }

    .td-total:before {
        background: #292e31;
        color: #fff;
    }

    .td-showcase {
        border-color: #eee;
    }

    .td-showcase::before {
        background: #eee;
    }

    .td-headline {
        width: 100%;
        padding: 10px;
        color: #01b88e;
        border: 1px solid #01b88e;
        border-radius: 6px;
    }

    input[type="text"] {
        font-family: "Figtree", sans-serif;
        width: 100%;
        height: 35px;
        padding: 0 10px;
        color: inherit;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        background: transparent;
        border: 1px solid #b1b7c5;
        border-radius: 6px;
    }

    input[type="checkbox"] {
        width: auto;
        height: auto;
        scale: 1.4;
    }

    button {
        font-family: "Figtree", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        width: 100%;
        height: 35px;
        border: 0;
        border-radius: 6px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        overflow: hidden;
        cursor: pointer;
        background: #292e31;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    button i {
        font-size: 16px;
    }

    button.btn-trash {
        background: #f44336;
    }

    button.btn-primary {
        background: #01b88e;
    }

    .table-1 td {
        width: auto;
    }
    .table-1 td:nth-of-type(1):before {
        content: "ID";
    }
    .table-1 td:nth-of-type(2):before {
        content: "Name";
    }
    .table-1 td:nth-of-type(3):before {
        content: "Active";
    }
    .table-1 td:nth-of-type(3) {
        margin-left: auto;
        align-items: flex-end;
        text-align: right;
        color: #01b88e;
    }
    .table-1 td:nth-of-type(4):before {
        content: "Options";
        display: none;
    }
    .table-1 td:nth-of-type(4) {
        width: 100%;
    }
    
    .table-2 td:nth-of-type(1),
    .table-2 td:nth-of-type(2),
    .table-2 td:nth-of-type(3) {
        width: auto;
    }
    .table-2 td:nth-of-type(1):before {
        content: "ID";
    }
    .table-2 td:nth-of-type(2):before {
        content: "Private Exchange";
    }
    .table-2 td:nth-of-type(3):before {
        content: "Advertiser";
    }
    .table-2 td:nth-of-type(3) {
        margin-left: auto;
        align-items: flex-end;
        text-align: right;
    }
    .table-2 td:nth-of-type(4):before {
        content: "Campaign Name";
    }
    .table-2 td:nth-of-type(4) {
        order: -1;
    }
    .table-2 td:nth-of-type(5):before {
        content: "Active";
        display: none;
    }
    .table-2 td:nth-of-type(6):before {
        content: "Delete";
        display: none;
    }

    .table-3 td:nth-of-type(1):before {
        content: "Display By";
    }
    .table-3 td:nth-of-type(2):before {
        content: "Pub Request";
    }
    .table-3 td:nth-of-type(3):before {
        content: "Avail. Impressions";
    }
    .table-3 td:nth-of-type(4):before {
        content: "Live Impressions";
    }
    .table-3 td:nth-of-type(5):before {
        content: "AVG Position";
    }
    .table-3 td:nth-of-type(6):before {
        content: "Show Rate";
    }
    .table-3 td:nth-of-type(7):before {
        content: "Clicks";
    }
    .table-3 td:nth-of-type(8):before {
        content: "CTR";
    }
    .table-3 td:nth-of-type(9):before {
        content: "еСРС";
    }
    .table-3 td:nth-of-type(10):before {
        content: "еСРМ";
    }
    .table-3 td:nth-of-type(11):before {
        content: "MAO Revenue";
    }
    .table-3 td:nth-of-type(12):before {
        content: "Pub Revenue";
    }
    .table-3 td:nth-of-type(13):before {
        content: "Gross Margin";
    }
    .table-3 td:nth-of-type(14):before {
        content: "MAO Profit";
    }
    .table-3 td:nth-of-type(15):before {
        content: "MAO Platform";
    }
    .table-3 td:nth-of-type(16):before {
        content: "Total Profit";
    }
    
    .table-4 td:nth-of-type(1):before {
        content: "Status";
    }
    .table-4 td:nth-of-type(2):before {
        content: "Brand Name";
    }
    .table-4 td:nth-of-type(3):before {
        content: "Click URL";
    }
    .table-4 td:nth-of-type(4):before {
        content: "Logo";
    }
    .table-4 td:nth-of-type(5):before {
        content: "Network";
    }
    .table-4 td:nth-of-type(6):before {
        content: "BaseCPC";
    }
    .table-4 td:nth-of-type(7):before {
        content: "Weight";
    }
    .table-4 td:nth-of-type(8):before {
        content: "CPC";
    }
    .table-4 td:nth-of-type(9):before {
        content: "Title";
    }
    .table-4 td:nth-of-type(9) {
        width: 100%;
    }
    .table-4 td:nth-of-type(10):before {
        content: "Description";
    }
    .table-4 td:nth-of-type(10) {
        width: 100%;
    }
    .table-4 td:nth-of-type(11):before {
        content: "Bid Modifier Log";
    }
    .table-4 td:nth-of-type(12):before {
        content: "Ad Copy Version";
    }

    .table-5 td:nth-of-type(1):before {
        content: "Display By";
    }
    .table-5 td:nth-of-type(2):before {
        content: "Pub Request";
    }
    .table-5 td:nth-of-type(3):before {
        content: "Avail. impressions";
    }
    .table-5 td:nth-of-type(4):before {
        content: "Live impressions";
    }
    .table-5 td:nth-of-type(5):before {
        content: "AVG Position";
    }
    .table-5 td:nth-of-type(6):before {
        content: "Show Rate";
    }
    .table-5 td:nth-of-type(7):before {
        content: "Clicks";
    }
    .table-5 td:nth-of-type(8):before {
        content: "CTR";
    }
    .table-5 td:nth-of-type(9):before {
        content: "eCPC";
    }
    .table-5 td:nth-of-type(10):before {
        content: "eCPM";
    }
    .table-5 td:nth-of-type(11):before {
        content: "MAO Revenue";
    }
    .table-5 td:nth-of-type(12):before {
        content: "Pub Revenue";
    }
    .table-5 td:nth-of-type(13):before {
        content: "Gross margin";
    }
    .table-5 td:nth-of-type(14):before {
        content: "MAO Profit";
    }
    .table-5 td:nth-of-type(15):before {
        content: "MAO Platform";
    }
    .table-5 td:nth-of-type(16):before {
        content: "Total Profit";
    }

    .table-6 td:nth-of-type(1):before {
        content: "ID";
    }
    .table-6 td:nth-of-type(1) {
        order: 1;
        width: auto;
    }
    .table-6 td:nth-of-type(2):before {
        content: "Description";
    }
    .table-6 td:nth-of-type(2) {
        order: 2;
        width: auto;
    }
    .table-6 td:nth-of-type(3):before {
        content: "Vertical";
    }
    .table-6 td:nth-of-type(3) {
        order: 4;
    }
    .table-6 td:nth-of-type(4):before {
        content: "Publisher";
    }
    .table-6 td:nth-of-type(4) {
        order: 5;
    }
    .table-6 td:nth-of-type(5):before {
        content: "Token";
        display: none;
    }
    .table-6 td:nth-of-type(5) {
        order: 6;
        width: 100%;
    }
    .table-6 td:nth-of-type(6):before {
        content: "PE Margin";
    }
    .table-6 td:nth-of-type(6) {
        order: 7;
    }
    .table-6 td:nth-of-type(7):before {
        content: "Bid Modifier";
    }
    .table-6 td:nth-of-type(7) {
        order: 8;
    }
    .table-6 td:nth-of-type(8):before {
        content: "Active";
    }
    .table-6 td:nth-of-type(8) {
        order: 3;
        width: auto;
        margin-left: auto;
        align-items: flex-end;
        text-align: right;
        color: #01b88e;
    }
    .table-6 td:nth-of-type(9):before {
        content: "Options";
        display: none;
    }
    .table-6 td:nth-of-type(9) {
        order: 9;
        width: 100%;
    }

    .table-7 td:nth-of-type(1),
    .table-7 td:nth-of-type(2) {
        width: auto;
    }
    .table-7 td:nth-of-type(1):before {
        content: "ID";
    }
    .table-7 td:nth-of-type(2):before {
        content: "API Name";
    }
    .table-7 td:nth-of-type(3):before {
        content: "Margin";
    }
    .table-7 td:nth-of-type(3) {
        width: 100%;
    }
    .table-7 td:nth-of-type(4):before {
        content: "Active";
        display: none;
    }
    .table-7 td:nth-of-type(5):before {
        content: "Options";
        display: none;
    }

    .table-8 td:nth-of-type(1):before {
        content: "Campaign ID";
    }
    .table-8 td:nth-of-type(2):before {
        content: "Campaign";
    }
    .table-8 td:nth-of-type(3):before {
        content: "AdNet API";
    }
    .table-8 td:nth-of-type(4):before {
        content: "Exchange Name";
    }
    .table-8 td:nth-of-type(5):before {
        content: "User ID";
    }
    .table-8 td:nth-of-type(6):before {
        content: "User";
    }
    .table-8 td:nth-of-type(6) {
        order: -1;
    }
    .table-8 td:nth-of-type(7):before {
        content: "Name";
    }
    .table-8 td:nth-of-type(8):before {
        content: "Impersonate";
        display: none;
    }
    .table-8 td:nth-of-type(8) {
        width: 100%;
    }
    
}
